parameters:
    level: max
    paths:
        - src

    excludePaths:
        - src/Migrations

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
